numpy
scipy
httpx
pandas
streamlit
scikit-learn
plotly
celery[redis]

fastapi
uvicorn
structlog
prometheus-client
requests
streamlit-cookies-manager

sqlalchemy
psycopg2-binary
alembic
passlib
bcrypt==4.0.1
python-jose
python-multipart
pytest
pytest-cov
pytest-asyncio

email-validator

langchain==0.1.17
langchain-core==0.1.52
langchain-openai==0.1.1
langgraph==0.0.45